Action1：求2+4+6+8+...+100的求和，用Python该如何写

In [27]:
Sum = 0
for i in range(0,101,2):
    Sum += i
    i +=2
print("2+4+6+8+...+100的求和是:",Sum)

2+4+6+8+...+100的求和是: 2550

Action2：统计全班的成绩
班里有5名同学，现在需要你用Python来统计下这些人在语文、英语、数学中的平均成绩、最小成绩、最大成绩、方差、标准差。然后把这些人的总成绩排序，得出名次进行成绩输出（可以用numpy或pandas）

In [33]:
import pandas as pd
import numpy as np

In [38]:
data = pd.read_excel("D:\Pythpn\Jupyter\Black Horse\L1\Grade for Action2.xlsx")
data = pd.DataFrame(data)
data

   姓名  语文  数学  英语
0  张飞  68  65  30
1  关羽  95  76  98
2  刘备  98  86  88
3  典韦  90  88  77
4  许褚  80  90  90

In [53]:
data.describe()

              语文         数学         英语
count   5.000000   5.000000   5.000000
mean   86.200000  81.000000  76.600000
std    12.255611  10.440307  27.107195
min    68.000000  65.000000  30.000000
25%    80.000000  76.000000  77.000000
50%    90.000000  86.000000  88.000000
75%    95.000000  88.000000  90.000000
max    98.000000  90.000000  98.000000

In [74]:
#得出人名与成绩对应关系
rank = {}
for j in range(0,5):
    name = data.iloc[j,0]
    grade = data.iloc[j,[1,2,3]].sum()
    rank[name]=grade
    j+=1
print(rank)

{'张飞': 163, '关羽': 269, '刘备': 272, '典韦': 255, '许褚': 260}

In [83]:
#按成绩排序
print(sorted(rank.items(),key = lambda kv:(kv[1], kv[0])))

[('张飞', 163), ('典韦', 255), ('许褚', 260), ('关羽', 269), ('刘备', 272)]

Action3: 对汽车质量数据进行统计

In [5]:
import pandas as pd
import numpy as np
path = "D:\Pythpn\Jupyter\Black Horse\L1\car_data_analyze/car_complain.csv"
df = pd.read_csv(path)

In [86]:
df.head()

,id,brand,car_model,type,desc,problem,datetime,status
0,482028,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹B柱异响 车内异响严重,"H93,H15,",2020-06-08,信息审核
1,482027,江淮汽车,江淮iEV6E,2017款 iEV6E,江淮iEV6E动力电池故障 无法充电,"H343,",2020-06-08,信息审核
2,482026,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹车身异响 天窗异响,"H93,H15,H89,",2020-06-08,信息审核
3,482022,一汽-大众,迈腾,2009款 1.8TSI DSG 舒适型,一汽大众迈腾起步和刹车时车辆抖动\t,"B84,E111,",2020-06-08,信息审核
4,482019,众泰汽车,众泰T600 Coupe,2017款 1.5T 自动 尊享型,众泰T600 Coupe售后维修配件一直缺货,"N318,",2020-06-08,厂家受理

In [6]:
df=df.drop('problem', axis=1).join(df.problem.str.get_dummies(','))
print(df)

         id  brand     car_model                   type  \
0    482028  一汽马自达           阿特兹       2020款 2.5L 蓝天运动版
1    482027   江淮汽车       江淮iEV6E            2017款 iEV6E
2    482026  一汽马自达           阿特兹       2020款 2.5L 蓝天运动版
3    482022  一汽-大众            迈腾   2009款 1.8TSI DSG 舒适型
4    482019   众泰汽车  众泰T600 Coupe      2017款 1.5T 自动 尊享型
..      ...    ...           ...                    ...
595  480802   北京现代            领动   2016款 1.6L 自动 智炫·精英型
596  480801  一汽-大众           高尔夫   2016款 1.4TSI 25周年纪念版
597  480799   吉利汽车            星越    2020款 350T 魅影骑士版AWD
598  480798   北京现代            悦纳  2016款 1.4L 手动 炫酷版 GLS
599  480795   东风日产            逍客     2016款 2.0L CVT 精英版

                       desc    datetime status  A11  A114  A12  ...  N318  \
0       一汽马自达阿特兹B柱异响 车内异响严重  2020-06-08   信息审核    0     0    0  ...     0
1        江淮iEV6E动力电池故障 无法充电  2020-06-08   信息审核    0     0    0  ...     0
2         一汽马自达阿特兹车身异响 天窗异响  2020-06-08   信息审核    0     0    0  ...     0
3        一汽大众迈腾起步和刹车时车辆抖动\t  2020-06-08   信息审核    0     0    0  ...     0
4    众泰T600 Coupe售后维修配件一直缺货  2020-06-08   厂家受理    0     0    0  ...     1
..                      ...         ...    ...  ...   ...  ...  ...   ...
595   北京现代领动ABS和防侧滑故障灯同时亮\t  2020-06-05   信息审核    0     0    0  ...     0
596      一汽大众高尔夫仪表提示变速箱挂入P挡  2020-06-05   处理反馈    0     0    0  ...     0
597       吉利星越车机系统虚假宣传 卡顿严重  2020-06-05   用户评分    0     0    0  ...     0
598         北京现代悦纳发动机曲轴螺丝断裂  2020-06-05   信息审核    0     0    0  ...     0
599      东风日产逍客变速箱报故障码P17F1  2020-06-05   处理反馈    0     0    0  ...     0

     N319  O296  O326  O348  O354  Q322  Q323  Q349  Q350
0       0     0     0     0     0     0     0     0     0
1       0     0     0     0     0     0     0     0     0
2       0     0     0     0     0     0     0     0     0
3       0     0     0     0     0     0     0     0     0
4       0     0     0     0     0     0     0     0     0
..    ...   ...   ...   ...   ...   ...   ...   ...   ...
595     0     0     0     0     0     0     0     0     0
596     0     0     0     0     0     0     0     0     0
597     0     0     0     0     0     0     0     0     0
598     0     0     0     0     0     0     0     0     0
599     0     0     0     0     0     0     0     0     0

[600 rows x 181 columns]

In [8]:
df.head(3)

,id,brand,car_model,type,desc,datetime,status,A11,A114,A12,...,N318,N319,O296,O326,O348,O354,Q322,Q323,Q349,Q350
0,482028,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹B柱异响 车内异响严重,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,482027,江淮汽车,江淮iEV6E,2017款 iEV6E,江淮iEV6E动力电池故障 无法充电,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,482026,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹车身异响 天窗异响,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
#数据清洗
def f(x):
    x = x.replace('一汽-大众','一汽大众')
    return x

df['brand'] = df['brand'].apply(f)

result1 = df.groupby(['brand']).agg(['count'])
result1

,id,car_model,type,desc,datetime,status,A11,A114,A12,A13,...,N318,N319,O296,O326,O348,O354,Q322,Q323,Q349,Q350
,count,count,count,count,count,count,count,count,count,count,...,count,count,count,count,count,count,count,count,count,count
brand,,,,,,,,,,,,,,,,,,,,,
一汽丰田,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
一汽吉林,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
一汽大众,58,58,58,58,58,58,58,58,58,58,...,58,58,58,58,58,58,58,58,58,58
一汽大众奥迪,19,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
一汽奔腾,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
长安汽车,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
长安铃木,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
长安马自达,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
雷克萨斯,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
领克汽车,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5

In [55]:
result2 = df.groupby(['brand'])["id"].agg(['count'])
result2

        count
brand
一汽丰田       12
一汽吉林        2
一汽大众       58
一汽大众奥迪     19
一汽奔腾        6
...       ...
长安汽车        6
长安铃木        2
长安马自达       4
雷克萨斯        2
领克汽车        5

[74 rows x 1 columns]

问题标记

In [20]:
tags = df.columns[7:]#7列开始为问题代码
tags

Index(['A11', 'A114', 'A12', 'A13', 'A136', 'A14', 'A145', 'A163', 'A174',
       'A18',
       ...
       'N318', 'N319', 'O296', 'O326', 'O348', 'O354', 'Q322', 'Q323', 'Q349',
       'Q350'],
      dtype='object', length=174)

In [54]:
result3 = df.groupby(['brand'])[tags].agg(['sum'])
result3

,A11,A114,A12,A13,A136,A14,A145,A163,A174,A18,...,N318,N319,O296,O326,O348,O354,Q322,Q323,Q349,Q350
,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,...,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum
brand,,,,,,,,,,,,,,,,,,,,,
一汽丰田,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
一汽吉林,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
一汽大众,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0
一汽大众奥迪,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
一汽奔腾,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
长安汽车,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
长安铃木,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
长安马自达,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
雷克萨斯,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
领克汽车,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

品牌平均车型问题排序

In [23]:
result4 =df.groupby(['brand','car_model'])['id'].agg(['count'])
result4.head(20)

                  count
brand  car_model
一汽丰田   RAV4荣放         3
       亚洲龙            3
       卡罗拉            2
       奕泽IZOA         1
       威驰             2
       锐志             1
一汽吉林   森雅R7           1
       森雅R9           1
一汽大众   T-ROC探歌        3
       宝来             2
       捷达VS5          6
       探岳            11
       迈腾            10
       速腾            22
       高尔夫            4
一汽大众奥迪 奥迪A3           2
       奥迪A4L          7
       奥迪A6L          3
       奥迪Q3           4
       奥迪Q5           2

In [24]:
result_mean = result4.groupby(['brand'])['count'].agg(['mean'])
result_mean.head()

            mean
brand
一汽丰田    2.000000
一汽吉林    1.000000
一汽大众    8.285714
一汽大众奥迪  3.166667
一汽奔腾    1.500000

In [27]:
result_mean_sort= result_mean.sort_values('mean',ascending=0)
result_mean_sort.head(10)

             mean
brand
一汽马自达   47.500000
吉利汽车     9.600000
一汽大众     8.285714
广汽丰田     5.666667
上汽大众     3.600000
东风日产     3.200000
一汽大众奥迪   3.166667
广汽本田     3.000000
东风雷诺     3.000000
奇瑞汽车     2.800000

In [39]:
result_mean_sort.to_csv('./result_mean_sort.csv')

品牌问题排序

In [56]:
result5 = result2.merge(result3, left_index=True, right_index=True, how='left')
result5

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

,count,"(A11, sum)","(A114, sum)","(A12, sum)","(A13, sum)","(A136, sum)","(A14, sum)","(A145, sum)","(A163, sum)","(A174, sum)",...,"(N318, sum)","(N319, sum)","(O296, sum)","(O326, sum)","(O348, sum)","(O354, sum)","(Q322, sum)","(Q323, sum)","(Q349, sum)","(Q350, sum)"
brand,,,,,,,,,,,,,,,,,,,,,
一汽丰田,12,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
一汽吉林,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
一汽大众,58,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
一汽大众奥迪,19,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
一汽奔腾,6,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
长安汽车,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
长安铃木,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
长安马自达,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
雷克萨斯,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
领克汽车,5,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [57]:
result5.reset_index(inplace=True)
result5

,brand,count,"(A11, sum)","(A114, sum)","(A12, sum)","(A13, sum)","(A136, sum)","(A14, sum)","(A145, sum)","(A163, sum)",...,"(N318, sum)","(N319, sum)","(O296, sum)","(O326, sum)","(O348, sum)","(O354, sum)","(Q322, sum)","(Q323, sum)","(Q349, sum)","(Q350, sum)"
0,一汽丰田,12,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,一汽吉林,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,一汽大众,58,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
3,一汽大众奥迪,19,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,一汽奔腾,6,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,长安汽车,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70,长安铃木,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71,长安马自达,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72,雷克萨斯,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73,领克汽车,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
result5.head()

,brand,count,"(A11, sum)","(A114, sum)","(A12, sum)","(A13, sum)","(A136, sum)","(A14, sum)","(A145, sum)","(A163, sum)",...,"(N318, sum)","(N319, sum)","(O296, sum)","(O326, sum)","(O348, sum)","(O354, sum)","(Q322, sum)","(Q323, sum)","(Q349, sum)","(Q350, sum)"
0,一汽丰田,12,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,一汽吉林,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,一汽大众,58,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
3,一汽大众奥迪,19,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,一汽奔腾,6,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
result5.to_csv('./result5.csv')

In [60]:
#按照count排序
result6 = result5.sort_values('count', ascending=False)
result6

,brand,count,"(A11, sum)","(A114, sum)","(A12, sum)","(A13, sum)","(A136, sum)","(A14, sum)","(A145, sum)","(A163, sum)",...,"(N318, sum)","(N319, sum)","(O296, sum)","(O326, sum)","(O348, sum)","(O354, sum)","(Q322, sum)","(Q323, sum)","(Q349, sum)","(Q350, sum)"
37,吉利汽车,96,0,0,1,0,0,1,0,0,...,0,0,0,0,7,0,0,0,0,1
7,一汽马自达,95,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,一汽大众,58,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
8,上汽大众,36,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,一汽大众奥迪,19,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,天津一汽,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,多士星,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,北汽新能源,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,北汽昌河,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
14,东风小康,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
#多数据排序
query = ('A12','sum')#这里为什么不是“A12，sum”???
result6.sort_values(query, ascending=False)

,brand,count,"(A11, sum)","(A114, sum)","(A12, sum)","(A13, sum)","(A136, sum)","(A14, sum)","(A145, sum)","(A163, sum)",...,"(N318, sum)","(N319, sum)","(O296, sum)","(O326, sum)","(O348, sum)","(O354, sum)","(Q322, sum)","(Q323, sum)","(Q349, sum)","(Q350, sum)"
11,上汽集团,15,1,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,吉利汽车,96,0,0,1,0,0,1,0,0,...,0,0,0,0,7,0,0,0,0,1
51,广汽本田,12,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,一汽大众奥迪,19,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
63,玛莎拉蒂,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,广汽三菱,4,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
36,吉利新能源,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
71,长安马自达,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,华晨宝马,5,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
14,东风小康,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
#车型排序
#数据清洗
def g(x):
    x = x.replace('一汽-大众','一汽大众')
    return x
df['brand'] = df['brand'].apply(g)
result7 = df.groupby(['car_model'])['id'].agg(['count'])
result7.head(10)

           count
car_model
C4世嘉           1
DS5            1
INSPIRE        1
Levante        1
Polo           1
RAV4荣放         3
T-ROC探歌        3
U5 SUV         1
V3菱悦           1
WEY VV5        1

In [65]:
result8 = df.groupby(['car_model'])[tags].agg(['sum'])
result8.head(10)

,A11,A114,A12,A13,A136,A14,A145,A163,A174,A18,...,N318,N319,O296,O326,O348,O354,Q322,Q323,Q349,Q350
,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,...,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum
car_model,,,,,,,,,,,,,,,,,,,,,
C4世嘉,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DS5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
INSPIRE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Levante,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Polo,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
RAV4荣放,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T-ROC探歌,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U5 SUV,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
V3菱悦,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
WEY VV5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
result9 = result7.merge(result8, left_index=True, right_index=True, how='left')
result9.head(10)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

,count,"(A11, sum)","(A114, sum)","(A12, sum)","(A13, sum)","(A136, sum)","(A14, sum)","(A145, sum)","(A163, sum)","(A174, sum)",...,"(N318, sum)","(N319, sum)","(O296, sum)","(O326, sum)","(O348, sum)","(O354, sum)","(Q322, sum)","(Q323, sum)","(Q349, sum)","(Q350, sum)"
car_model,,,,,,,,,,,,,,,,,,,,,
C4世嘉,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DS5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
INSPIRE,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Levante,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Polo,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
RAV4荣放,3,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T-ROC探歌,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U5 SUV,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
V3菱悦,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
WEY VV5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
result9.reset_index(inplace=True)
result9.head(10)

,car_model,count,"(A11, sum)","(A114, sum)","(A12, sum)","(A13, sum)","(A136, sum)","(A14, sum)","(A145, sum)","(A163, sum)",...,"(N318, sum)","(N319, sum)","(O296, sum)","(O326, sum)","(O348, sum)","(O354, sum)","(Q322, sum)","(Q323, sum)","(Q349, sum)","(Q350, sum)"
0,C4世嘉,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,DS5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,INSPIRE,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Levante,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Polo,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,RAV4荣放,3,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,T-ROC探歌,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,U5 SUV,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,V3菱悦,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,WEY VV5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
result9.to_csv('./result9.csv')

In [70]:
#按照count排序
result10 = result9.sort_values('count', ascending=False)
result10

,car_model,count,"(A11, sum)","(A114, sum)","(A12, sum)","(A13, sum)","(A136, sum)","(A14, sum)","(A145, sum)","(A163, sum)",...,"(N318, sum)","(N319, sum)","(O296, sum)","(O326, sum)","(O348, sum)","(O354, sum)","(Q322, sum)","(Q323, sum)","(Q349, sum)","(Q350, sum)"
189,阿特兹,75,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107,星越,43,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,1
181,速腾,22,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
205,马自达CX-4,20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,博越,13,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,悦翔,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,捷豹XEL,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,捷豹XFL,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101,撼路者,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
211,高尔夫（进口）,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0